[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
aiomirai = {extras = ["ws"], version = "*"}
motor = "*"
pyyaml = "*"
psutil = "*"
matplotlib = "*"
httpx = "*"
apscheduler = "*"
pydantic = "*"

[scripts]
start = "python bot.py"

[requires]
python_version = "3.8"
