[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
apscheduler = "*"
nonebot = {extras = ["scheduler"],version = "*"}
motor = "*"
hypercorn = "*"

[requires]
python_version = "3.8"
