[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
apscheduler = "*"
nonebot = {extras = ["scheduler"],version = "*"}
motor = "*"
hypercorn = "*"
psutil = "*"
ujson = "*"
msgpack = "*"
json-config = "*"

[scripts]
start = "hypercorn bot:app -b 0.0.0.0:$NONEBOT_PORT"

[requires]
python_version = "3.8"
